@model Core.ViewModels.CheckoutViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Checkout";
}

<strong id="courseName">@Model.CourseTitle</strong>
<span id="coursePrice">₦@Model.Amount.ToString("N0")</span>
<span id="subtotal">₦@Model.Amount.ToString("N0")</span>
<span class="price-total" id="totalAmount">₦@Model.Amount.ToString("N0")</span>

<input type="email" id="email" class="form-control" value="@Model.StudentEmail" readonly />
<input type="text" id="fullName" class="form-control" value="@Model.StudentFullName" readonly />

<button onclick="initiatePayment(@Model.EnrollmentId)" class="pay-btn text-white w-100 mt-3">
    Pay Now – ₦@Model.Amount.ToString("N0")
</button>

<script>
    function initiatePayment(enrollmentId) {
        $.ajax({
            type: 'POST', url: '/Payment/InitializePayment', dataType: 'json',
            data: { enrollmentId: enrollmentId },
            success: function (result) {
                if (!result.isError) { location.href = result.returnUrl; }
                else { infoAlert(result.msg); }
            },
            error: function () { errorAlert("An error occurred. Please try again."); }
        });
    }
</script>