@{
    ViewData["Title"] = "Home Page";
}

<main class="mainbody">
    <div class="logo">
        <img src="Images/EDOUGLAS ACADEMY LOGO.jpg" alt="logo" width="100  ">
    </div>
    <div class="intro">
        <h1>Welcome to E-Douglas Academy</h1>
        <div class="intro-anim">
            <div class="intro-dot"></div>
            <div class="intro-line"></div>
        </div>
        <p>
            This is where innovation meets learning. <br>
            We are dedicated to empowering minds and inspiring success
            through quality education and cutting-edge resources.
        </p>
    </div>
    <div class="text-center">
        <a href="#" class="btn btn-primary btn-md mb-2" 
        data-bs-toggle="modal" data-bs-target="#add_leaves"><i class="ti ti-square-rounded-plus me-1"></i>
        Join Us</a>
    </div>
    <div class="social-icons">
        <a href="https://wa.me/2348123490936" class="whatsapp-btn" target="_blank" title="Chat on WhatsApp">
            <i class="fab fa-whatsapp"></i>
        </a>
    </div>
</main>
